<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" class="main-beige"  aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Vivons l'Apprentissage, Façonnons l'Avenir !")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">${page_content or _("Gagnez en Productivité, en Compétences et en Performances grâce à des cours en ligne accessibles à tous.")}</%block>
        </p>
        <div class="graphic-img">
            <img src="${static.url('images/logo_vivalearnv1bis.png')}" alt="Logo VivaLearn" class="section-img" />
        </div>
    </section>

       <!-- Section : Qui sommes-nous ? -->
    <section class="container who-we-are">
        <h1>${_("Qui sommes-nous ?")}</h2>
        <p>${_("VIVALEARN est né de la conviction que l'apprentissage doit être accessible, engageant et pertinent pour tous, en particulier pour les formateurs qui jouent un rôle crucial dans la transmission des connaissances. Depuis notre création, notre mission a été de créer une plateforme qui non seulement démocratise l'accès au savoir, mais qui le fait de manière innovante et efficace. Notre vision est d'être un acteur majeur dans la transformation de l'éducation en ligne, en mettant l'accent sur des méthodes d'apprentissage éprouvées et participatives.")}</p>
        <img src="${static.url('images/whoweare.jpg')}" alt="Qui sommes-nous ?">
    </section>

    <!-- Autres sections ajoutées selon about.html -->
 <section class="container kolb-method">
        <h2>${_("Le Cycle de Kolb : Au Centre de Notre Méthodologie")}</h2>
        <p>${_("Notre approche pédagogique s'appuie fortement sur le cycle de Kolb, un modèle éprouvé d'apprentissage expérientiel qui se compose de quatre étapes : l'expérience concrète, la réflexion sur l'expérience, la conceptualisation abstraite, et l'expérimentation active. Chez VIVALEARN, chaque MOOC est conçu pour guider les apprenants à travers ces étapes, alignant ainsi notre vision de l'apprentissage avec des pratiques pédagogiques solides et efficaces. Cette méthode permet non seulement de comprendre les concepts théoriques, mais aussi de les appliquer dans des situations réelles, facilitant ainsi un apprentissage plus profond et durable")}</p>
        <img src="${static.url('images/kolb-cycle.jpg')}" alt="Le Cycle de Kolb">
    </section>


<!-- Autres sections ajoutées selon about.html -->
 <section class="container kolb-method">
        <h2>${_("Le Cycle de Kolb : Au Centre de Notre Méthodologie")}</h2>
        <p>${_("Notre approche pédagogique repose sur un modèle d'apprentissage expérientiel.")}</p>
        <img src="${static.url('images/kolb-cycle.jpg')}" alt="Le Cycle de Kolb" class="section-img">
    </section>
<!-- Autres sections ajoutées selon about.html -->

 <section class="container engagement">
        <h2>${_("Engagement Participatif : Objectif Principal")}</h2>
        <p>${_("Nous croyons fermement que l'apprentissage des adultes est le plus efficace lorsque les participants sont activement engagés. C'est pourquoi, chez VIVALEARN, l'engagement participatif est un objectif central. Nous avons mis en place des outils et des techniques pour maximiser la participation active des apprenants, que ce soit à travers des discussions, des travaux pratiques, ou des projets collaboratifs. Cela permet de créer une communauté d'apprentissage dynamique où chacun peut apprendre des autres et contribuer à l'enrichissement collectif.")}</p>
        <img src="${static.url('images/engagement.jpg')}" alt="Engagement Participatif">
    </section>

<!-- Autres sections ajoutées selon about.html -->
 <section class="container impact">
        <h2>${_("Impact Pédagogique")}</h2>
        <p>${_("Notre approche pédagogique repose sur un modèle d'apprentissage expérientiel.")}</p>
        <img src="${static.url('images/impact.jpg')}" alt="Impact Pédagogique">
    </section>

<!-- Autres sections ajoutées selon about.html -->
 <section class="container kolb-method">
        <h2>${_("Accompagnement des Formateurs")}</h2>
        <p>${_("Chez VIVALEARN, nous comprenons que le rôle du formateur est central dans le processus d'apprentissage. C'est pourquoi nous offrons un accompagnement dédié pour aider les formateurs à tirer le meilleur parti de notre plateforme. Que ce soit pour la création de contenu, l'animation de cours, ou l'évaluation des apprenants, nous fournissons les outils et le soutien nécessaires pour que chaque formateur puisse se concentrer sur l'essentiel : enseigner. Nous croyons que cet accompagnement est crucial pour garantir la qualité de l'apprentissage et pour permettre aux formateurs de se sentir valorisés et soutenus dans leur mission.")}</p>
        <img src="${static.url('images/support.jpg')}" alt="Accompagnement des Formateurs">
    </section>

<!-- Autres sections ajoutées selon about.html -->
 <section class="container kolb-method">
        <h2>${_("Rejoignez-nous")}</h2>
        <p>${_("VIVALEARN est plus qu'une simple plateforme d'apprentissage ; c'est une communauté de formateurs engagés qui cherchent à transformer l'éducation en ligne. Nous vous invitons à nous rejoindre et à apporter votre expertise à notre plateforme. Ensemble, nous pouvons créer des expériences d'apprentissage enrichissantes, efficaces et accessibles à tous. Devenez acteur du changement avec VIVALEARN et participez à la révolution de l'apprentissage en ligne.")}</p>
        <img src="${static.url('images/join-us.jpg')}" alt="Rejoignez-nous">
    </section>


</main>
