<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Qui Sommes-Nous ?")}</%block>

<main id="main" class="main-beige" aria-label="Content" tabindex="-1">
    
<section class="header-image">
    <img src="${static.url('images/vivalearn_banner3.png')}" alt="Image illustr" class="full-width">
    <div class="header-text">
        <h1 >QUI SOMMES-NOUS ?</h1>
        <p style="margin-top: 2rem; "> Vous faire gagner en Productivité, en Compétences et en Performance est notre but ultime.</p>
    </div>
</section>

<section class="learning-section">
    <div class="container">
        <!-- Titre principal -->
        <h2 class="section-title">Qui sommes-nous ?</h2>

        <!-- Sous-titre -->
        <p class="section-subtitle">
    VIVALEARN est une entreprise né de la conviction que l'apprentissage doit être accessible, engageant et pertinent pour tous, en particulier pour les formateurs qui jouent un rôle crucial dans la transmission des connaissances. Depuis notre création, notre mission a été de créer une plateforme qui non seulement démocratise l'accès au savoir, mais qui le fait de manière innovante et efficace. Notre vision est d'étre un acteur majeur dans la transformation de l'éducation en ligne, en mettant l'accent sur des méthodes d'apprentissage éprouvées et participatives.      
        </p>
    </div>
</section>

    <div class="graphic-img" style="margin-bottom: 2rem;">
       <img src="${static.url('images/vivalearn_group5.png')}" alt="Qui sommes-nous ?"/>
    </div>

  
<section class="puissanci">
    <div class="banner banner-dark">
        <div class="banner-content">
            <h2>Apprentissage pour tous, soutenu par l’innovation.</h2>
            <p>Nous transformons l'apprentissage en une expérience vivante et significative, vous permettant de développer des compétences directement applicables dans votre quotidien professionnel et personnel. Nous faisons bien plus qu'enseigner : nous créons des expériences. Que vous soyez étudiant, professionnel ou formateur, VivaLearn est votre partenaire pour un apprentissage dynamique, pertinent et véritablement transformateur.</p>
        </div>
        <div class="banner-image">
            <img src="${static.url('images/vivalearn_tools2.png')}" alt="Apprenant">
        </div>
    </div>
    <div class="banner banner-red">
        <div class="banner-content">
            <h2>Impact Pédagogique : Objectif Principal</h2>
            <p>Nous croyons fermement que l'apprentissage des adultes est le plus efficace lorsque les participants sont activement engagés. C'est pourquoi, chez VIVALEARN, l'engagement participatif est un objectif central. Nous avons mis en place des outils et des techniques pour maximiser la participation active des apprenants, que ce soit à travers des discussions, des travaux pratiques, ou des projets collaboratifs. Cela permet de créer une communauté d'apprentissage dynamique où chacun peut apprendre des autres et contribuer à l'enrichissement collectif tout en renforçant leur compétitivité face aux acteurs internationaux.</p>
        </div>
        <div class="banner-image">
            <img src="${static.url('images/vivalearn_group2.png')}" alt="Formateur">
        </div>
    </div>

</section>


<section class="puissanci">
    <div class="banner banner-dark">
        <div class="banner-content">
            <h2>Les MOOCs : Un Outil Puissant</h2>
            <p>Les Massive Open Online Courses (MOOCs) sont au cœur de notre stratégie pour atteindre cette vision. Ils permettent de toucher un large public tout en offrant une flexibilité essentielle pour les apprenants. Pour les formateurs, les MOOCs sont un outil puissant pour transmettre des compétences à grande échelle, tout en offrant des moyens variés d'évaluer et d'améliorer les performances des participants. VIVALEARN se distingue en intégrant des MOOCs qui ne sont pas seulement informatifs, mais qui sont également construits autour d'une méthodologie d'apprentissage rigoureuse. Nos méthodes participatives et expérientielles ont démontré leur efficacité non seulement dans l'acquisition de nouvelles compétences, mais aussi dans leur application pratique. Cette approche garantit que les apprenants sont non seulement formés, mais aussi préparés à appliquer ce qu'ils ont appris dans des contextes réels.</p>
        </div>
        <div class="banner-image">
            <img src="${static.url('images/vivalearn_mooc.png')}" alt="MOOC">
        </div>
    </div>
    <div class="banner banner-red">
        <div class="banner-content">
            <h2>Notre Ambition</h2>
            <p>VivaLearn aspire à bätir un écosystème éducatif où chaque apprenant peut accéder à des formations de qualité supérieure, où chaque formateur a la capacité de transformer ses connaissances en impact tangible, et où l'éducation devient une force véritablement unificatrice et transformatrice.</p>

        </div>
        <div class="banner-image">
            <img src="${static.url('images/vivalearn_group3.png')}" alt="Formateur">
        </div>
    </div>

</section>

<section class="puissanci">
    <div class="banner banner-dark">
        <div class="banner-content">
            <h2>Apprendre, enseigner, évoluer – Avec VivaLearn, tout devient possible</h2>
            <p>C'est bien plus qu'un simple espace d'apprentissage : c'est une communauté vivante où chaque interaction génère un impact réel et mesurable. Nous croyons profondément que l'apprentissage doit être une expérience active et totalement engageante. C'est pourquoi nous mettons tout en œuvre pour que chaque cours soit une opportunité concrète de mettre en pratique vos connaissances.</p>

        </div>
        <div class="banner-image">
            <img src="${static.url('images/vivalearn_group4.png')}" alt="Apprenant">
        </div>
    </div>

</section>


<h2 class="section-title" style="margin-top: 2rem;">Rejoignez-nous</h2>


<div class="graphic-img-bis">
  <img src="${static.url('images/vivalearn_join1.png')}" alt="Rejoignez-nous"/>
    <button class="contact-button">REJOIGNEZ-NOUS</button>
</div>
<p class=" learning-section section-subtitle action-text">
    Rejoignez VivaLearn  dès aujourd'hui pour devenir acteur du changement et participer à la révolution de l'Apprentissage en ligne.
</p>

</main>
