<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Service de Certification")}</%block>

<main id="main" class="main-beige" aria-label="Content" tabindex="-1">
   
<section class="header-image">
    <img src="${static.url('images/vivalearn_banner3.png')}" alt="Image illustr" class="full-width">
    <div class="header-text">
        <h1>CERTIFICATION</h1>
        <p>Vos compétences méritent une reconnaissance fiable et internationale</p>
    </div>
</section>

<section class="learning-section">
    <div class="container">
        <!-- Titre principal -->
        <h2 class="section-title">Notre Service de Certification</h2>

        <!-- Sous-titre -->
        <p class="section-subtitle">
            Nos certificats sont ancrés dans un registre de base de données décentralisé, garantissant une traçabilité, une sécurité, et une immuabilité inégalées. Chaque certificat est infalsifiable et accessible à tout moment, assurant une confiance totale.
        </p>
    </div>
</section>

<div >
    <div style="text-align: center;">
        <img src="${static.url('images/vivalearn_certif3.png')}" style="max-width: 400px; width: 100%; height: auto; object-fit: contain; border-radius: 10px;" alt="Illustration des différences" />
    </div>
</div>

<section class="puissancia">
    <div class="banneria banner-darkia">
        <div class="banner-contentia">
            <h2>La différence VivaLearn</h2>
            <p>
                VivaLearn offre une solution de certification innovante basée sur la blockchain, conçue pour répondre aux besoins des écoles professionnelles, des universités et des employeurs. Grâce à cette technologie, les diplômes et certifications sont infalsifiables, traçables et faciles à vérifier, éliminant ainsi les risques de fraude. En complément, VivaLearn propose des services de certification reconnus, élargissant les opportunités pour les apprenants et renforçant la confiance des recruteurs dans leurs compétences.


            </p>     
        </div>
        <div class="banneria-image">
            <img src="${static.url('images/vivalearn_certif1.png')}" alt="Illustration des différences"/>

           </div>
    </div>
        <!-- Fonctionnement de la certification via Blockchain -->

    <div class="banneria banner-redia">      
        <div class="banner-contentia">
            <h2 class="blockchain-title">Comment Fonctionne la Certification via Blockchain</h2>
            <ol class="blockchain-steps">
                <li>
                    <strong>Achèvement du cours :</strong> Vous complétez un cours ou une formation.
                </li>
                <li>
                    <strong>Délivrance du certificat :</strong> Un certificat unique est émis et enregistré sur la blockchain.
                </li>
                <li>
                    <strong>Vérification publique :</strong> Employeurs et tiers peuvent vérifier l'authenticité en ligne.
                </li>
            </ol>
         </div>

        <div class="banneria-image">
            <img src="${static.url('images/vivalearn_block5.png')}" alt="Processus Blockchain"/>
        </div>
    </div>
    <div class="banneria banner-darkia">
        <div class="banner-contentia">
 
            <h2>FAQ</h2>
            <ul class="faq-list">
                <li>
                    <div>
                        <strong class="text-justify mb-1 d-block">Comment vérifier mon certificat ?</strong>
                        <p class="text-justify">Pour vérifier votre certificat numérique, utilisez notre plateforme en ligne. Entrez le code unique inscrit sur votre certificat numérique, puis cliquez sur "Vérifier".</p>
                    </div>
                </li>
                <li>
                    <div>
                        <strong class="text-justify mb-1 d-block">Quels types de certificats sont disponibles ?</strong>
                        <p class="text-justify">Nous proposons trois types de certificats : internes (émis par VivaLearn), co-délivrés (en partenariat avec des institutions renommées), et professionnels (reconnus par l'industrie). Chacun répond à des besoins spécifiques.</p>
                    </div>
                </li>
                <li>
                    <div>
                        <strong class="text-justify mb-1 d-block">Comment les employeurs peuvent-ils vérifier mes certifications ?</strong>
                        <p class="text-justify">Les employeurs peuvent scanner le QR code ou entrer le code unique du certificat numérique sur notre plateforme pour en vérifier l'authenticité en temps réel.</p>
                    </div>
                </li>
            </ul>

          
        </div>
        <div class="banneria-image">
            <img src="${static.url('images/vivalearn_faq3.png')}" alt="FAQ"/>
           </div>
    </div>
</section>
    
    <!-- Section de vérification -->
    <section class="container verification">
        <h2 class="section-title">Service de Vérification </h2>
        <p style="text-align: center; font-weight: bold;">  Veuillez saisir le code de votre certificat ou scanner le QR code pour vérifier son authenticité.</p>
        
        <!-- Formulaire de vérification -->
        <div style="max-width: 800px; margin: 20px auto; display: flex; align-items: center;">
            <form method="post" action="/verify-certificate" style="flex: 1;">
                <div class="form-group mb-3">
                    <input type="text" name="code" class="form-control form-control-lg" placeholder="Code Certificat (ex:18122024)" style="height: 50px; font-size: 16px;" required>
                </div>
            </form>
            <div style="flex: 1; text-align: right;">
                <button type="submit" class="btn btn-primary btn-lg">Vérifier</button>
            </div>
            <div style="flex: 1; text-align: right;">
                <button class="btn btn-secondary btn-lg">Scanner le QR Code</button>
            </div>
        </div>

        <!-- Zone de résultat -->
        <div style="max-width: 800px; margin: 40px auto; padding: 30px; background: #fff; border-radius: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
            <div class="text-center mb-4" style="padding: 10px; background: #f8f9fa; border-radius: 10px;">
                <p class="text-muted mb-0" style="font-style: italic;">
                    Zone d'affichage des informations
                </p>
            </div>

            <div class="certificate-header">
                <h1>Certificat 18122024</h1>
              </div>

            <div class="row mb-2">
                <div class="col-md-6 mb-1">
                    <h5 class="text-muted mb-1 certificate-title"><strong>Titulaire</strong></h5>
                    <p class="h4 text-muted" style="height: 50px; font-size: 16px;"><em>Blé Tidjane</em></p>
                </div>
                <div class="col-md-6">
                    <h5 class="text-muted mb-1 certificate-title"><strong>Formation</strong></h5>
                    <p class="h4 text-muted" style="height: 50px; font-size: 16px;"><em>Développement web</em></p>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6 mb-1">
                    <h5 class="text-muted mb-1 certificate-title"><strong>Date d'obtention</strong></h5>
                    <p class="h4 text-muted" style="height: 50px; font-size: 16px;"><em>07/08/2025</em></p>
                </div>
                <div class="col-md-6">
                    <h5 class="text-muted mb-1 certificate-title" ><strong>Formateur</strong></h5>
                    <p class="h4 text-muted" style="height: 50px; font-size: 16px;"><em> Koudou Alassane</em></p>
                </div>
            </div>

            <div class="mb-4">
                <h5 class="text-muted certificate-title" ><strong>Compétences validées</strong></h5>
                <ul class="list-unstyled text-muted" style="font-size: 16px;">
                    <li class="mb-2"><i class="fas text-success me-2"></i><em>HTML5 et CSS3 avancés</em></li>
                    <li class="mb-2"><i class="fas text-success me-2"></i><em>JavaScript ES6+</em></li>
                    <li class="mb-2"><i class="fas text-success me-2"></i><em>React.js</em></li>
                    <li class="mb-2"><i class="fas text-success me-2"></i><em>Node.js</em></li>
                </ul>
            </div>

            <div style="background: #f8f9fa; padding: 15px; border-radius: 10px;">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <p class="mb-1"><strong>Hash du certificat </strong></p>
                        <small class="text-muted"><em> 0x8f23...7d1c</em></small>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-1"><strong>Date de vérification </strong></p>
                        <small class="text-muted"><em>10/12/2024</em></small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section FAQ -->
  

   
    <h2 class="section-title-bis">Besoin de plus d'informations sur notre service de certification ?</h2>


    <div class="graphic-img">
      <img src="${static.url('images/vivalearn_contact3.png')}" alt="FAQ"/>
        <button class="contact-button">CONTACTEZ-NOUS</button>
    </div>

</main>
